/* @import url('http://example.com/example_style.css'); */

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/*****************************************/
/* Start your style declarations here    */
/*****************************************/



*{
margin:0;
padding:0;
box-sizing:border-box;
}

.text-gray{
color: rgba(128, 128, 128, 0.611);
margin: 0.4rem 0;

}

.item-rating{
    background-color: rgba(38, 110, 38, 0.988);
    color:white;
    text-align:center;
    padding: 0.2rem;
    width:4rem;
    border-radius: 0.5rem;
}
html {
font-size: 62.5%;
}


@media screen and (max-width:768px) {
html {
    font-size: 55%;
}
}



@media screen and (max-width:425px) {
html {
    font-size: 45%;
}

}

@media screen and (max-width:320px) {
html {
    font-size: 35%;
    
}

}

