.single_product-image-container img{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    margin: 2rem 1rem;
    width:80%;
    border-radius: 0.4rem;

}
.single_product-container{
display: flex;
margin: 2rem 1rem;

}
.single_page-product-detail-container{
width:100%;
padding: 2rem 0 0 0;

}
.product-font-size{
font-size: 2rem;

}
.size_left-container{
display: flex;
gap: 0.8rem;

}
.size_left-container h5{
    font-size: 2rem;
    margin-top: .5rem;
}
.size_left-container p{
border: 2px solid rgba(128, 128, 128, 0.167);
padding: 0.5rem 0.5rem 0.8rem 0.5rem;
width: 4rem;
height: 3rem;
cursor: pointer;
font-weight: bold;
font-size: 1.4rem;
border-radius: 0.5rem;

}

.single_page-detail-price-container{
margin: 1rem 0;

}
.padding-rating{
    padding: 0.5rem;
    font-size: 1.4rem;
    margin-top: 0.5rem;
}

.product_discription-container{
margin-top: 1rem;

} 
.product_discription-container h4{
    margin-bottom: 0.8rem;
}
.product_discription-container p{
    font-size: 1.5rem;
}