<div class="single_product-container">
    <div class="single_product-image-container">
        <img src="{{dynamic_page_hubdb_row.product_image.url}}">
    </div>
    <div class="single_page-product-detail-container">
        <div class="single_page-product-detail">
            <p class="text-gray product-font-size"><strong>{{dynamic_page_hubdb_row.brand_name.name}}</strong></p>
            <p class="product-font-size">{{dynamic_page_hubdb_row.product_name}}</p>
        </div>
        <div class="single_page-detail-price-container">
            <div>
                <p class="product-font-size"><strong>₹{{dynamic_page_hubdb_row.product_price}}</strong></p>
                <p>inclusive of all taxes</p>
            </div>
            <p class="item-rating padding-rating">{{dynamic_page_hubdb_row.product_rating}}★</p>
        </div>
        <div class="size_left-container">
            <h5 class="text-gray">Size:</h5>
            {% for size in dynamic_page_hubdb_row.size_left%}
            <p>{{size.name}}
            </p>
            {% endfor%}
        </div>
        <div class="product_discription-container">
            <h4 class="product-font-size">Product Details
            </h4>
            <p>
                {{dynamic_page_hubdb_row.product_discription}}
            </p>
        </div>
    </div>
</div>