<!--
    templateType: page
    isAvailableForNewContent: true
-->
<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  {% if content.html_title %}<title>{{ content.html_title }}</title>{% endif %}
  <meta name="description" content="{{ content.meta_description }}">
  {{require_css(get_asset_url("/Demo-E-commerce/css/e-commerce.css"))}}
  {{ standard_header_includes }}
</head>

<body>
  {% if dynamic_page_hubdb_row %}
  {% module "module_16672117457131" path="/Demo-E-commerce/Modules/Hubdb-single-product", label="Hubdb-single-product" %}
  {% elif dynamic_page_hubdb_table_id %}
  {% module "module_16672115411181" path="/Demo-E-commerce/Modules/Hubdb-product-page", label="Hubdb-product-page" %}
  {% endif %}
  {{ standard_footer_includes }}
</body>

</html>