.filter-contianer {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
  width: 30rem;
  height: 100%;
  margin: 2rem 3rem 3rem 3rem;
  position: sticky;
  top:0;
}

.product_card-container{
  width: 100%;
}

.filter-heading {
  border-bottom: 1px solid rgb(196, 192, 192);
  margin: 2rem;
  padding-bottom: 1rem;

}

.filter-heading,
.content-heading {
  margin: 1rem;
  color: rgb(103, 98, 98);
}

.item_detail-container .item_title {
  font-size: 1.8rem;
  margin: 0.5rem 0rem;
}

.item_detail-container {
  margin: 0.5rem;
  padding: 1rem;
}

fieldset {
  margin: 1rem;
  padding: 10px;
  width: 25rem;
}

.filter-title-contianer {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.product_container {
  display: flex;
  font-size: 1.5rem;
  position: relative;

}

.all_product-container,
.notfound_container {
  margin-top: 2rem;
}

.notfound_container {
  width: 100%;
  text-align: center;
}

.all_product-container h3 {
  font-size: 3rem;
  color: rgba(81, 79, 79, 0.861);
}

.notfound_container p{
  font-size: 2rem;
  color: rgb(173, 164, 164);
}

.item_container-wrapper {
  border-radius: 0.5rem;
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.item_container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 2rem;
  margin-top: 2rem;
}

select.option_padding {
  padding: 1rem;
}

.select_option {
  padding: 10px;
  width: 100%;
}

.item_image-container img {
  width: 100%;
  height: 35rem;
  border-bottom: 2px solid grey;
}

.item_color-container,
.item_brand-container {
  display: flex;
  justify-content: space-between;

}

.item-price {
  font-size: 2rem;
}