<div class="product_container">
  <div class="filter-contianer">
    <div class="filter-title-contianer">
      <aside>
        <h2 class="filter-heading">
          Filters
        </h2>
        <div>
          <h3 class="content-heading">
            Content Types
          </h3>
          <form id="product_id">
            <fieldset>
              <legend>Brands</legend>
              <select class="select_option" name="brand_name" form="product_id" onChange="submit()">
                <option class="option_padding" value="">All</option>
                {% set brand_name=hubdb_table_column(module.hubdb_table,"brand_name").options %}
                {% for choice in brand_name%}
                {% if choice.name==request.query_dict.brand_name%}
                <option selected="selected" value="{{choice.name}}">{{choice.name}}</option>
                {% else%}
                <option value="{{choice.name}}">{{choice.name}}</option>
                {% endif%}
                {% endfor%}
              </select>
            </fieldset>
            <fieldset>
              <legend>Color</legend>
              <select class="select_option" name="product_color" form="product_id" onChange="submit()">
                <option value="">All</option>
                {% set product_color=hubdb_table_column(module.hubdb_table,"product_color").options%}
                {% for color in product_color%}
                {% if color.name==request.query_dict.product_color%}
                <option selected="selected" value="{{color.name}}">{{color.name}}</option>
                {% else %}
                <option value="{{color.name}}">{{color.name}}</option>
                {% endif%}
                {% endfor%}
              </select>
            </fieldset>
            <fieldset>
              <legend>Size</legend>
              <select class="select_option" name="product_size" form="product_id" onChange="submit()">
                <option value="">All</option>
                {% set product_size=hubdb_table_column(module.hubdb_table,"product_size").options %}
                {% for size in product_size%}
                {% if size.name==request.query_dict.product_size%}
                <option selected="selected" value="{{size.name}}">{{size.name}}</option>
                {% else %}
                <option value="{{size.name}}">{{size.name}}</option>
                {% endif%}
                {% endfor%}
              </select>
            </fieldset>
              <fieldset>
                <legend>Brands checkbox</legend>
                  {% set brand_name=hubdb_table_column(module.hubdb_table,"brand_name").options %}
                  {% for choice in brand_name%}
                  <div>
                  <input type="checkbox" id="{{choice.name}}">
                  <label for="{{choice.name}}">{{choice.name}}</label>
                  </div>
                  {% endfor%}
              </fieldset>
              <fieldset>
                <legend>colors heckbox</legend>
                {% set product_color=hubdb_table_column(module.hubdb_table,"product_color").options%}
                {% for color in product_color%}
                  <div>
                  <input type="checkbox" id="{{color.name}}">
                  <label for="{{color.name}}">{{color.name}}</label>
                  </div>
                  {% endfor%}
              </fieldset>
              <fieldset>
                <legend>Sizes checkbox</legend>
                {% set product_size=hubdb_table_column(module.hubdb_table,"product_size").options %}
                {% for size in product_size%}
                  <div>
                  <input type="checkbox" id="{{size.name}}">
                  <label for="{{size.name}}">{{size.name}}</label>
                  </div>
                  {% endfor%}
              </fieldset>
          </form>
        </div>
      </aside>
    </div>
  </div>

  {% set quaryparam=""%}
  {% if request.query_dict.brand_name != null && request.query_dict.product_color==null &&
  request.query_dict.product_size==null %}
  {% set quaryparam=quaryparam~"&brand_name="~request.query_dict.brand_name%}
  {% elif request.query_dict.product_size ==null && request.query_dict.brand_name==null &&
  request.query_dict.product_color!=null %}
  {% set quaryparam=quaryparam~"&product_color="~request.query_dict.product_color%}
  {% elif request.query_dict.product_size!=null && request.query_dict.product_color==null &&
  request.query_dict.brand_name==null %}
  {% set quaryparam=quaryparam~"&product_size="~request.query_dict.product_size%}
  {% elif request.query_dict.brand_name!=null && request.query_dict.product_color!=null &&
  request.query_dict.product_size==null%}
  {% set
  quaryparam=quaryparam~"&brand_name="~request.query_dict.brand_name~"&product_color="~request.query_dict.product_color%}
  {% elif request.query_dict.brand_name!=null && request.query_dict.product_size!=null &&
  request.query_dict.product_color==null%}
  {% set
  quaryparam=quaryparam~"&brand_name="~request.query_dict.brand_name~"&product_size="~request.query_dict.product_size%}
  {% elif request.query_dict.product_color!=null && request.query_dict.product_size!=null &&
  request.query_dict.brand_name==null%}
  {% set
  quaryparam=quaryparam~"&product_size="~request.query_dict.product_size~"&product_color="~request.query_dict.product_color%}
  {% elif request.query_dict.product_size!=null && request.query_dict.product_color!=null &&
  request.query_dict.brand_name!=null%}
  {% set
  quaryparam=quaryparam~"&product_size="~request.query_dict.product_size~"&product_color="~request.query_dict.product_color~"&brand_name="~request.query_dict.brand_name%}
  {% else%}
  {% set quaryparam="" %}
  {% endif %}
  {% set productDetail=hubdb_table_rows( module.hubdb_table,quaryparam) %}
  {% if productDetail|length>=1%}
  <div class="product_card-container">
    <div class="all_product-container">
      <h3>All Products: {{ productDetail|length}}</h3>
    </div>
    <div class="item_container">
      {% for product in productDetail%}
      <div class="item_container-wrapper">
        <div class="item_image-container">
          <a href="{{ request.path }}/{{ product.hs_path }}" target="_blank">
            <img src="{{product.product_image.url}}">
          </a>
        </div>
        <div class="item_detail-container">
          <div class="item_brand-container">
            <p class="text-gray">
              <strong>{{product.brand_name.name}}</strong>
            </p>
            <p class="item-rating">
              {{product.product_rating}}★
            </p>
          </div>
          <p class="item_title">
            {{product.product_name}}
          </p>
          <div class="item_color-container">
            <p class="text-gray">
              <strong>{{product.product_color.name}}</strong>
            </p>
            <p class="item-price"><strong> ₹{{product.product_price}}</strong></p>
          </div>
          <p>
            Size: <strong>{{product.product_size.name}}</strong>
          </p>
        </div>

      </div>
      {% endfor%}
    </div>
    {% else%}
    <div class="notfound_container">
      <p>Not found Matching Data</p>
    </div>
    {% endif%}
  </div>
</div>